/* Các lớp CSS cho mỗi công nghệ */
.react-color {
  color: #61dafb;
}

.nextjs-color {
  color: #fff;
}

.tailwind-color {
  color: #38b2ac;
}

.typescript-color {
  color: #007acc;
}

.supabase-color {
  color: #ffa500;
}

.wordpress-color {
  color: #21759b;
}
