.cpu {
  background:
    linear-gradient(180deg, #232323, #222222),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 26.56%,
      rgba(0, 0, 0, 0.05) 51.56%,
      rgba(0, 0, 0, 0.05)
    );
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 6px 4px -2px rgba(0, 0, 0, 0.15),
    inset 0 -3px 1px -1px rgba(0, 0, 0, 0.25);
  transform: translate(-7px, 9px);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 3px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 26.56%,
      rgba(0, 0, 0, 0.05) 51.56%,
      rgba(0, 0, 0, 0.05)
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    border-color: #313131;
  }

  .shine {
    position: absolute;
    inset: 0;
    overflow: hidden;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 26.56%,
      rgba(0, 0, 0, 0.1) 51.56%,
      rgba(0, 0, 0, 0.1)
    );

    @keyframes shine {
      from {
        background-position: 0%;
      }
      to {
        background-position: 200% 50%;
      }
    }

    &::after {
      content: "";
      background: linear-gradient(
        90deg,
        transparent 20%,
        transparent 40%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.15) 55%,
        transparent 70%,
        transparent
      );
      z-index: 2;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      transform: scale(2.2) rotate(-30deg);
      animation: shine 5s ease infinite;
      opacity: 0.6;
      background-size: 200% auto;
      mix-blend-mode: plus-lighter;
    }
  }

  .connector {
    $connector-width: 6px;
    $connector-height: 10px;

    gap: 18px;

    left: calc($connector-height * -1);

    &.right-side {
      left: auto;
      right: calc($connector-height * -1);
    }

    &.top-side {
      top: calc($connector-height * -1);
      left: 50%;
      transform: translateX(-50%);
      gap: 18px;

      .item {
        width: $connector-width;
        height: $connector-height;
      }
    }

    &.bottom-side {
      top: auto;
      bottom: calc($connector-height * -1);
      left: 50%;
      transform: translateX(-50%);
      gap: 18px;

      .item {
        width: $connector-width;
        height: $connector-height;
      }
    }

    .item {
      width: $connector-height;
      height: $connector-width;
      background: linear-gradient(180deg, #242424, #121212 65.62%);
      box-shadow:
        0 2px 2px 1px rgba(0, 0, 0, 0.05),
        inset 1px 0 1px 1px rgba(0, 0, 0, 0.1),
        inset 1px 0 1px #dddddd;
    }
  }
}

.data-text {
  background: linear-gradient(
    92.66deg,
    #919191,
    #eaeaea 19.79%,
    #828181 33.33%,
    #c6c6c6 70.31%,
    #606060
  );

  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.1),
    0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.item {
  background: linear-gradient(180deg, #242424, #121212 65.62%);

  box-shadow:
    0 1px 0 1px rgba(0, 0, 0, 0.02),
    0 4px 6px rgba(0, 0, 0, 0.02),
    inset 0 0 0 6px var(--accents-1);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.2px;
    background: conic-gradient(
      from 180deg at 50% 50%,
      var(--accents-2) 0deg,
      var(--accents-2) 176deg,
      #61dafb 193deg,
      var(--accents-2) 217deg,
      var(--accents-2) 1turn
    );
    border-radius: inherit;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.item:nth-child(2)::before {
  background: conic-gradient(
    from 180deg at 50% 50%,
    var(--accents-2) 0deg,
    var(--accents-2) 176deg,
    #3ecf8e 193deg,
    var(--accents-2) 217deg,
    var(--accents-2) 1turn
  );
}
.item:last-child::before {
  background: conic-gradient(
    from 180deg at 50% 50%,
    var(--accents-2) 0deg,
    var(--accents-2) 176deg,
    #ffbc31 193deg,
    var(--accents-2) 217deg,
    var(--accents-2) 1turn
  );
}
